<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>{{ contest.name }}</h2>
    <div>
        start time: <span class="start_time">{{ contest.start_time }}</span>
    </div>
    <div>
        duration: {{ contest.duration }} minutes
    </div>
    <div>
        <h3>{{message}}</h3>
    </div>
    {% if message == "Contest is running"%}
    <div>
        Time left- <span class="hours_left"></span>:<span class="minutes_left"></span>:<span class="seconds_left"></span> 
    </div>
    {% endif %}
    <div>
        <a href="/solutions/contest/{{contest.id}}">My Soltions</a> 
        <a href="/leaderboard/{{contest.id}}">Leaderboard</a>
    </div>
    <div>
        Questions
        {% for question in question_list %}
        <div>
            <a href="/question/{{question.id}}">{{ question.name }}</a> 
            <span class="points">{{question.points}}</span> points
        </div>
        {% endfor %}
    </div>
    <div class="seconds" style="display: none">{{seconds}}</div>
    <div class="duration" style="display: none">{{contest.duration}}</div>
    <script src="../static/js/contest_timer.js"></script>
</body>
</html>