<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>{{ contest.name }}</h2>
    <div>
        start time: <span class="start_time">{{ contest.start_time }}</span>
    </div>
    <div>
        duration: {{ contest.duration }} minutes
    </div>
    <div>
        <h3>{{message}}</h3>
    </div>
    {% if message == "Contest is running"%}
    <div>
        Time left- <span class="hours_left"></span>:<span class="minutes_left"></span>:<span class="seconds_left"></span> 
    </div>
    {% endif %}
    <div>
        <a href="/solutions/contest/{{contest.id}}">My Soltions</a>
    </div>
    <div>
        Questions
        {% for question in question_list %}
        <div>
            <a href="/question/{{question.id}}">{{ question.name }}</a>
        </div>
        {% endfor %}
    </div>
    <div class="seconds" style="display: none">{{seconds}}</div>
    <script>
        const seconds_str = document.querySelector(".seconds").innerHTML;
        if (seconds_str != "") {
            let seconds = parseInt(seconds_str);
            const setClock = () => {
                hours_left = Math.floor(seconds/3600);
                minutes_left = (Math.floor(seconds/60))%60;
                seconds_left = seconds%60;
                document.querySelector(".hours_left").innerHTML = hours_left;
                document.querySelector(".minutes_left").innerHTML = minutes_left;
                document.querySelector(".seconds_left").innerHTML = seconds_left;
            }
            setClock();
            window.setInterval(() => {
                setClock();
                seconds = seconds - 1;
            }, 1000)
        }
    </script>
</body>
</html>