<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>{{ contest.name }}</h2>
    <div>
        start time: {{ contest.start_time }}
    </div>
    <div>
        duration: {{ contest.duration }} minutes
    </div>
    <div>
        <a href="/solutions/contest/{{contest.id}}">My Soltions</a>
    </div>
    <div>
        Questions
        {% for question in question_list %}
        <div>
            <a href="/question/{{question.id}}">{{ question.name }}</a>
        </div>
        {% endfor %}
    </div>
</body>
</html>