<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    Welocome Home
    <div>
        <a href="#">Create a contest</a>
    </div>
    <h2>Contests</h2>
    {% for contest in contest_list %}
    <div>
        <a href="">{{contest.name}}</a>
        {{ contest.start_time }}
        {{ contest.duration }} mins
    </div>
    {% endfor %}
</body>

</html>