<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h2>{{ question.name }}</h2>
    <div>{{question.statement}}</div>
    input: <div>{{question.input_cases}}</div>
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <div>
                <textarea name="solution" cols="30" rows="10" placeholder="Enter Output" required></textarea>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>

</html>